Package: com.popsicletreehouse.playingpicture
Name: PlayingPicture
Version: 0.0.1
Architecture: iphoneos-arm
Description: Set your now playing view background to an image of your choice
Maintainer: PopsicleTreehouse
Author: PopsicleTreehouse
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), com.muirey03.libimagepicker
