Package: com.popsicletreehouse.playingpicture
Name: PlayingPicture
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: PopsicleTreehouse
Author: PopsicleTreehouse
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), com.muirey03.libimagepicker
Version: 0.0.1-23+debug
Installed-Size: 468
